{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center;">
        <div style="font-size: 24px;">Акции {{ stock.name }} ({{ stock.ticker }})</div>
        {% if stock.logo %}
            <div><img src="{{ MEDIA_URL }}/{{ stock.logo }}" width="400" /></div>
        {% endif %}
    </div>
    
    <div style="display: flex; justify-content: center; gap: 40px; margin-top: 20px;">
        <!-- Форма покупки -->
        <div>
            <form method="POST" action="{% url 'stock:buy' stock.pk %}">
                {% csrf_token %}
                <div style="margin-bottom: 10px;">{{ form.amount }}</div>
                <div style="margin-bottom: 10px;">{{ form.price }}</div>
                <div style="text-align: center;"><button>Купить</button></div>
            </form>
        </div>

        <!-- Форма продажи -->
        <div>
            <form method="POST" action="{% url 'stock:sell' stock.pk %}">
                {% csrf_token %}
                <div style="margin-bottom: 10px;">{{ form.amount }}</div>
                <div style="margin-bottom: 10px;">{{ form.price }}</div>
                <div style="text-align: center;"><button>Продать</button></div>
            </form>
        </div>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'stock:list' %}">Назад к списку</a>
    </div>
{% endblock %}